.env
.DS_Store
/*.code-workspace
__pycache__
/.ruff_cache
/dwd_data
/.idea
/.venv*
*.egg-info
coverage.xml
.coverage*
htmlcov
.nox
/.pytest_cache
/docs/_build
/docs/apidocs
/dist
/tmp
/geckodriver.log
/troubleshooting
