name: Coverage
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Acquire sources
      uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
        architecture: x64
    - name: Setup Poetry
      uses: Gr1N/setup-poetry@v4
    - name: Load cached dependencies
      uses: actions/cache@v2
      with:
        path: ~/.poetry
        key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
        restore-keys: |
          ${{ runner.os }}-poetry-
    - name: Install library
      run: poetry install --extras=http --extras=sql --extras=excel
    - name: Generate coverage report
      run: |
        poetry run pytest --cov=wetterdienst tests/
        poetry run coverage xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        flags: unittests
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: false
