name: Docs
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.9
        architecture: x64
    - name: Setup Poetry
      uses: Gr1N/setup-poetry@v4
    - name: Install library
      run: poetry install --extras=docs
    - name: Build docs
      run: cd docs && poetry run make html