name: Docs
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: 3.8
        architecture: x64
    - run: pip install poetry==1.0.10
    - run: poetry install --extras=docs
    - run: sphinx-build -h
    - run: cd docs && make html